<style type="text/css">
*{
	box-sizing: border-box;
}
h1{
	margin-bottom: 15px;
	color: green;
	text-align: center;
}

span.a{
  display: block;
  width: 90%;
  height: 100px;
  padding: 5px;
  border: 2px solid black;    
  background-color: yellow;
  margin-right: auto;
  margin-left: auto;
  text-align: right;
  font-family: Georgia;
}

/* Responsive Framework */
.row{
	width: 100%;
}

/**************Desktop*******************/
@media (min-width: 992px){
	.col-dt-1, .col-dt-2, .col-dt-3{
		float: right;font-size: 75%;
	}
	.col-dt-1{
		width: 33.33%;
	}
	.col-dt-2{
		width: 16.66%
	}
	.col-dt-3{
		width: 11.11%
	}
}
/**************Tablet*****************/
@media (min-width: 768px) and (max-width: 991px){
	.col-tb-1, .col-tb-2 , .col-tb-3{
		float: right;font-size: 25%;

	}
	.col-tb-1{
		width: 11.11%;
	}
	.col-tb-2{
		width: 16.66%;
	}
	.col-tb-3{
		width: 100%;
	}
}
</style>

